html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* custom styles */
 *,
 *::before,
 *::after{
     box-sizing: border-box;
 }
 body{
     font-size: 16px;
     line-height: 1.5;
	 font-family: Arial, Helvetica, sans-serif;
 }
 ol{
	list-style: decimal;
}
ul{
	list-style: disc;
}
ol, ul{
	padding: 0 24px;
}
 /* general */
 .container{
    max-width: 1200px;
    margin: 0px auto;
 }
 .flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 .justify-start{
	justify-content: flex-start;
 }
 .stretch{
	 align-items: stretch;
 }
 /* Navbar*/
 .navbar ul{
	 list-style: none;
	 padding-left: 0;
 }
 .navbar{
	 background-color: #F96115;
	 padding: 32px 0;
 }
 .navbar a{
	 text-decoration: none;
	 font-size: 24px;
	 margin-right: 32px;
	 color: #ffff;
 }
 /*menu*/
 .menu-wrapper{
	 padding: 60px 0;
 }
 .menu{
	 background-color: #005979;
	 font-size: 24px;
	 color: #ffff;
	 padding: 32px 0;
	 padding-left: 60px;
	 width: 30%;
 }
 .menu li{
	 line-height: 2;
 }
 .sub-menu{
	 list-style: square;
 }
 .list-style-image{
	 list-style-image: url(assets/tick.png);
 }
 /* Description list */
 dl{
	 font-size: 20px;
 }
 dt{
	 font-size: 32px;
 }
 dd{
	margin-left: 40px;
	margin-bottom: 32px;
 }
 /*footer*/
 
.footer ul{
		list-style: none;
		padding-left: 0;
	}
.footer{
		background-color: #252C22;
		padding: 40px 0;
	}
.footer a{
		text-decoration: none;
		font-size: 24px;
		margin-right: 32px;
		color: #ffff;
	}
 
 